{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Definition",
    "description": "The OpenAPI Specification is a standard format to define the structure and syntax of REST APIs. OpenAPI documents are both machine and human-readable, which enables anyone to easily determine how each API works. [More details](https://www.openapis.org/faq)",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fivetran.com"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "updated",
      "description": "2026-09-26T06:30:34.679Z"
    },
    {
      "name": "hash",
      "description": "d80d061ddce072e95ca1ad3f853126ae28a4ce3228c05bcdd026377e53c18437"
    }
  ],
  "paths": {
    "/public/connector-types": {
      "get": {
        "tags": [
          "Public Endpoints"
        ],
        "summary": "Retrieve Source Metadata Public Endpoint",
        "description": "Returns all available source types. This endpoint provides metadata including the proper source name (‘Facebook Ads’ instead of facebook_ads), the source icon, feature tables, information about the Hybrid deployment support, information about the Authorization via API support, and links to Fivetran resources. As we update source names and icons, that metadata will automatically update within this endpoint.",
        "operationId": "metadata_public_connectors",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connector metadata retrieved successfully"
                    },
                    "data": {
                      "type": "array",
                      "description": "The connector types",
                      "items": {
                        "$ref": "#/components/schemas/MetadataResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/account/info": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Get Account Info from the API Key",
        "description": "Returns information about current account from API key.",
        "operationId": "get_account_info",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Account information retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountInfoResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid authorization credentials"
          }
        }
      }
    },
    "/v1/certificates": {
      "post": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "(Deprecated) Approve a Certificate",
        "description": "Approves a certificate for a connection/destination, so Fivetran trusts this certificate for a source/destination database. The connection/destination setup tests will fail if a non-approved certificate is provided.",
        "operationId": "approve_certificate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "The certificate has been approved."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/connections": {
      "get": {
        "tags": [
          "Connection Management"
        ],
        "summary": "List All Connections",
        "description": "Returns a list of all accessible connections within your Fivetran account.",
        "operationId": "list_connections",
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "description": "Filter the list to connections belonging to this group. Retrieve group IDs from the [List All Groups](https://fivetran.com/docs/rest-api/api-reference/groups/list-all-groups) endpoint.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "group_id"
            },
            "example": "group_id"
          },
          {
            "name": "schema",
            "in": "query",
            "description": "Filter the list to connections whose schema name matches this value. Partial matches are not supported.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "schema"
            },
            "example": "schema"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "cursor_value"
            },
            "example": "cursor_value"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connections list retrieved successfully"
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/ConnectorResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error"
          },
          "405": {
            "description": "Method not allowed error"
          },
          "406": {
            "description": "Not acceptable error"
          }
        }
      },
      "post": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Create a Connection",
        "description": "Creates a new connection within a specified group in your Fivetran account. Runs setup tests and returns testing results. <br />\n> IMPORTANT: The `destination_schema_names` field will soon become a required field. Make sure to include it in your API requests when creating new connections to prevent future disruptions.\n> IMPORTANT: If you want to get the fingerprint details, do not set `trust_fingerprints` to `true` when you create a connection with our REST API. We can only provide the fingerprint details through the failed SSH Tunnel Connection setup test. For a full walkthrough, see [Get Connection Fingerprint Details](https://fivetran.com/docs/rest-api/tutorials/get-connection-fingerprint-details).",
        "operationId": "create_connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewConnectorRequestV1"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection has been created"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConnectorResponseV1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found error"
          },
          "406": {
            "description": "Not acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported media type"
          }
        }
      }
    },
    "/v1/connections/{connectionId}": {
      "get": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Retrieve Connection Details",
        "description": "Returns a connection configuration and status details if a valid identifier was provided.",
        "operationId": "connection_details",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection details retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConnectorResponseV1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error"
          },
          "404": {
            "description": "Not found error"
          },
          "405": {
            "description": "Method not allowed error"
          },
          "406": {
            "description": "Not acceptable error"
          }
        }
      },
      "delete": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Delete a Connection",
        "description": "Deletes a connection from your Fivetran account.",
        "operationId": "delete_connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection with id 'string' has been deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      },
      "patch": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Update a Connection",
        "description": "Updates connection parameters for an existing connection within your Fivetran account.\n\nThis endpoint requires at least one persistent configuration parameter to be specified (e.g., `sync_frequency`, `paused`, `config`, `auth`, `daily_sync_time`, `schema_status`).\n\n> IMPORTANT: Parameters like `trust_certificates`, `trust_fingerprints`, and `run_setup_tests` are test-control parameters that affect only the behavior of setup tests during the update and do not persist in the connection configuration; they cannot be used on their own. If you want to run setup tests without making configuration changes, use the POST `/v1/connections/{connectionId}/test` endpoint instead.\n",
        "operationId": "modify_connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConnectorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection has been updated"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConnectorResponseV1"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/certificates": {
      "get": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "List Certificates Approved for the Connection",
        "description": "Returns the list of approved certificates for the specified connection.",
        "operationId": "get_connection_certificates_list",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "cursor_value"
            },
            "example": "cursor_value"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection certificates retrieved successfully"
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/CertificateDetailsResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Connection not found."
          }
        }
      },
      "post": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Approve a Certificate for the Connection",
        "description": "Approves a certificate, so Fivetran trusts this certificate for a source database connection. \nThe connection setup tests will fail if a non-approved certificate is provided.\n\n> NOTE: This is only required for source connections based on the following databases: \n>  - [MySQL](https://fivetran.com/docs/connectors/databases/mysql#supportedservices)\n>  - [PostgreSQL](https://fivetran.com/docs/connectors/databases/postgresql#supportedservices)\n>  - [SQLServer](https://fivetran.com/docs/connectors/databases/sql-server#supportedservices)\n",
        "operationId": "approve_connection_certificate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "The certificate has been approved."
                    },
                    "data": {
                      "$ref": "#/components/schemas/CertificateDetailsResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing `hash` or `encoded_cert` fields in request payload"
          },
          "404": {
            "description": "Connection not found"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/certificates/{hash}": {
      "get": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Retrieve Connection Certificate Details",
        "description": "Returns details of the certificate approved for the specified connection with specified certificate hash.",
        "operationId": "get_connection_certificate_details",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "hash",
            "in": "path",
            "description": "The unique identifier of the certificate (Base64URL encoded hash of the certificate).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
            },
            "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection certificate details retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CertificateDetailsResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Certificate with specified hash not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Revoke Connection Certificate",
        "description": "Revokes a certificate, so Fivetran no longer trusts it while connecting to the source database.",
        "operationId": "revoke_connection_certificate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "hash",
            "in": "path",
            "description": "The unique identifier of the certificate (Base64URL encoded hash of the certificate).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
            },
            "example": "Y29ubmVjdG9yIGNlcnRpZmljYXRlIGhhc2g"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Certificate 'string' has been revoked for connection 'string'"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Certificate with specified hash not found"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/connect-card": {
      "post": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Create a Connect Card",
        "description": "Generates the Connect Card URI for the connection",
        "operationId": "connect_card",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectCardConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection Connect Card has been created"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConnectorConnectCardResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found error"
          },
          "406": {
            "description": "Not acceptable"
          },
          "415": {
            "description": "Unsupported media type"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/fingerprints": {
      "get": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "List Fingerprints Approved for the Connection",
        "description": "Returns the list of approved SSH fingerprints for specified connection",
        "operationId": "get_connection_fingerprints_list",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "cursor_value"
            },
            "example": "cursor_value"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection fingerprints retrieved successfully"
                    },
                    "data": {
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of returned items",
                          "items": {
                            "$ref": "#/components/schemas/FingerprintDetailsResponse"
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page",
                          "example": "cursor_value"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Connection not found"
          }
        }
      },
      "post": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Approve a Fingerprint for the Connection",
        "description": "Approves a fingerprint, enabling Fivetran to trust it for a source database and establish connections via an SSH tunnel.",
        "operationId": "approve_connection_fingerprint",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveFingerprintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/FingerprintDetailsResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing `hash` or `public_key` fields in request payload"
          },
          "404": {
            "description": "Connection not found"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/fingerprints/{hash}": {
      "get": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Retrieve Connection Fingerprint Details",
        "description": "Returns SSH fingerprint details approved for specified connection with specified hash",
        "operationId": "get_connection_fingerprint_details",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "hash",
            "in": "path",
            "description": "The unique identifier of the fingerprint (Base64URL encoded hash of the fingerprint).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Y29ubmVjdG9yIGZpbmdlcnByaW50IGhhc2g"
            },
            "example": "Y29ubmVjdG9yIGZpbmdlcnByaW50IGhhc2g"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection fingerprint details retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/FingerprintDetailsResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Fingerprint with specified hash not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Revoke Connection Fingerprint",
        "description": "Revokes a fingerprint, so Fivetran no longer trusts it while connecting to the source database through an SSH tunnel.",
        "operationId": "revoke_connection_fingerprint",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "hash",
            "in": "path",
            "description": "The unique identifier of the fingerprint (Base64URL encoded hash of the fingerprint).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Y29ubmVjdG9yIGZpbmdlcnByaW50IGhhc2g"
            },
            "example": "Y29ubmVjdG9yIGZpbmdlcnByaW50IGhhc2g"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Fingerprint with hash 'string' has been revoked for connection with id 'string'"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Fingerprint with specified hash not found"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/move": {
      "post": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Move a Connection",
        "description": "Moves a connection from its current destination group to a different destination group. The connection must be paused before calling this endpoint. Use `sync_behavior` to control how data syncs after the move: `CONTINUE` preserves the existing sync cursor so the connection resumes incremental sync from where it left off; `BACKFILL` resets the cursor and triggers a historical sync; `CONTINUE_WITH_DATA` preserves the cursor and additionally migrates existing data to the new destination by starting an asynchronous job. Use the `job_id` returned in the response to monitor progress via the move-connection-job-status endpoint. `CONTINUE_WITH_DATA` is supported only when moving a connection from Snowflake Native tables to a MDLS-linked Snowflake Lakehouse destination.",
        "operationId": "connection_moved",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveConnectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection moved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MoveConnectionsResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request error"
          },
          "401": {
            "description": "Unauthorized error"
          },
          "404": {
            "description": "Not found error"
          },
          "406": {
            "description": "Not acceptable error"
          },
          "415": {
            "description": "Unsupported media type error"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/move/{jobId}": {
      "get": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Retrieve Move Connection Job Status",
        "description": "Retrieves the status of an asynchronous connection move job. Use this endpoint to monitor the progress of a connection move operation that was initiated with the `CONTINUE_WITH_DATA` sync behavior.",
        "operationId": "connection_moved_job_status",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "The unique identifier of the move job. This is returned in the response when you initiate a connection move.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            },
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Move connection job status retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MoveConnectionJobResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request error"
          },
          "401": {
            "description": "Unauthorized error"
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/resync": {
      "post": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Re-sync Connection Data (Historical Sync)",
        "description": "Triggers a full historical sync of a connection or multiple schema tables within a connection. If the connection is paused, the table sync will be scheduled to be performed when the connection is re-enabled. If there is a data sync already in progress, we will try to complete it. If it fails, the request will be declined and the HTTP 409 Conflict error will be returned.",
        "operationId": "resync_connection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResyncConnectorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Sync has been successfully triggered for connection with id 'string'"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request error. Returned when the scope object is empty, a schema key maps to an empty table array, or the connector does not support table-level re-sync."
          },
          "401": {
            "description": "Unauthorized error"
          },
          "404": {
            "description": "Not found error"
          },
          "405": {
            "description": "Method not allowed error"
          },
          "406": {
            "description": "Not acceptable error"
          },
          "409": {
            "description": "Conflict error. Returned when a data sync is already in progress and cannot be completed before the re-sync can be scheduled."
          },
          "415": {
            "description": "Unsupported media type error"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas": {
      "get": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Retrieve a Connection Schema Config",
        "description": "\nReturns the top-level schema configuration for an existing connection within your Fivetran account. The response includes global flags, every schema, each table, and only the columns that were explicitly overridden. \n\nUse this endpoint to read the current data-selection tree for a connection, to back up the schema before making edits, or to copy the configuration to another connection.\n\n> NOTE: To restore a backed-up schema or copy the configuration to another connection, use the [Update a Connection Schema Config](https://fivetran.com/docs/rest-api/api-reference/connection-schema/modify-connection-schema-config) endpoint.\n\nFor more information, see the [Connection Schema config](https://fivetran.com/docs/rest-api/tutorials/connection-schema-configuration-use-cases) tutorial.\n\n> NOTE: Unedited columns (those following table defaults) are omitted from the response. For a read-only cataloging workflow, walk this response from schemas to tables, inspect each table's `supports_columns_config` field, and call the [Retrieve Source Table Columns Config](https://fivetran.com/docs/rest-api/api-reference/connection-schema/connection-column-config) endpoint only for tables where that field is `true`.\n\nFor the NetSuite SuiteAnalytics, and Salesforce and Salesforce Sandbox connectors, the 'schemas' map field contains a single entry with the 'netsuite' or 'salesforce' key, respectively. For the 'schema.name_in_destination` name field, these connectors always return the destination schema name you set in the connection setup form.\n\nFor more information on using this API endpoint with the the Oracle Fusion Cloud Applications connectors, see the [Schema information documentation](https://fivetran.com/docs/connectors/applications/oracle-fusion-cloud-applications#schemainformation).\n\n> IMPORTANT: This endpoint does not apply to [Magic Folder](https://fivetran.com/docs/connectors/files#magicfolder) connectors.\n",
        "operationId": "connection_schema_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Schema configuration retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Set Up a New Connection Schema Config",
        "description": "Configures a Connection Schema for a new connection before the schema is captured from the source.\n\n> NOTE: The response returns the exact settings provided in the request.\n\nAfter the initial sync, when the connection captures the schema from the source, Fivetran attempts to apply the specified settings to the actual schema.\nIf certain tables or columns cannot be excluded, the settings for those entities are ignored.\n",
        "operationId": "pre_create_connection_schema_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardConfigCreateRequest"
              },
              "examples": {
                "pre_create_schema_config_request": {
                  "value": {
                    "schemas": {
                      "schema_name": {
                        "enabled": true,
                        "tables": {
                          "table_name": {
                            "enabled": true,
                            "sync_mode": "SOFT_DELETE",
                            "columns": {
                              "column_name": {
                                "enabled": true,
                                "hashed": false
                              }
                            }
                          }
                        }
                      }
                    },
                    "schema_change_handling": "ALLOW_COLUMNS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Schema configuration pre-created successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Update a Connection Schema Config",
        "description": "Updates the schema config for an existing connection within your Fivetran account.\n\n> NOTE: For backward compatibility, the response may contain the 'enable_new_by_default' boolean field. It defines whether new schemas and tables discovered in the source are synced. The value is 'true' if you specify 'ALLOW_ALL' as a value of 'schema_change_handling'. In the future API versions, we may remove this field.\n>\n> The response contains all known schemas and tables. Also, it contains columns whose state has ever been set by the user. For more information, see also the [Connection Schema config](https://fivetran.com/docs/rest-api/tutorials/connection-schema-configuration-use-cases) tutorial.\n",
        "operationId": "modify_connection_schema_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardConfigUpdateRequest"
              },
              "examples": {
                "modify_schema_config_request": {
                  "value": {
                    "schemas": {
                      "schema_name": {
                        "enabled": true,
                        "tables": {
                          "table_name": {
                            "enabled": true,
                            "sync_mode": "SOFT_DELETE",
                            "columns": {
                              "column_name": {
                                "enabled": true,
                                "hashed": false
                              }
                            }
                          }
                        }
                      }
                    },
                    "schema_change_handling": "BLOCK_ALL"
                  }
                },
                "modify_schema_config_row_filter_request": {
                  "value": {
                    "schemas": {
                      "schema_name": {
                        "enabled": true,
                        "tables": {
                          "orders": {
                            "enabled": true,
                            "row_filter": {
                              "name": "active_orders",
                              "description": "Sync only active orders",
                              "column_clauses": [
                                {
                                  "column": "status",
                                  "column_type": "STRING",
                                  "operator": "EQUALS",
                                  "values": [
                                    "ACTIVE"
                                  ]
                                }
                              ]
                            }
                          },
                          "customers": {
                            "enabled": true,
                            "row_filter": null
                          },
                          "events": {
                            "enabled": true
                          }
                        }
                      }
                    }
                  }
                },
                "modify_schema_config_row_filter_or_request": {
                  "value": {
                    "schemas": {
                      "schema_name": {
                        "enabled": true,
                        "tables": {
                          "orders": {
                            "enabled": true,
                            "row_filter": {
                              "name": "high_value_or_us",
                              "description": "Sync high-value orders or US orders",
                              "operator": "OR",
                              "column_clauses": [
                                {
                                  "column": "amount",
                                  "column_type": "LONG",
                                  "operator": "GREATER",
                                  "values": [
                                    "1000"
                                  ]
                                },
                                {
                                  "column": "country",
                                  "column_type": "STRING",
                                  "operator": "EQUALS",
                                  "values": [
                                    "US"
                                  ]
                                }
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Schema configuration has been modified"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas/drop-columns": {
      "post": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Drop Blocked Columns from the Destination.",
        "description": "Mark multiple blocked columns for deletion from your destination tables. The columns will be dropped during the next sync.",
        "operationId": "delete_multiple_columns_connection_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropColumnsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Column(s) successfully marked for deletion"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not found error"
          },
          "409": {
            "description": "Column not in blocked state error"
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas/reload": {
      "post": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Reload a Connection Schema Config",
        "description": "Reloads the connection schema config for an existing connection within your Fivetran account.\n\n> NOTE: This method reloads the full schema from the connection's data source. It may take a long time to complete the request. The method execution speed depends on the schema size and the number of databases, tables, and columns.\n>\n> The response contains all known schemas and tables. Also, it contains columns whose state has ever been set by the user. For more information, see also the [Connection Schema config](https://fivetran.com/docs/rest-api/tutorials/connection-schema-configuration-use-cases) tutorial.\n",
        "operationId": "reload_connection_schema_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReloadStandardConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Schema configuration has been reloaded"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas/tables/resync": {
      "post": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Re-sync Connection Table Data",
        "description": "Triggers a historical sync of all data for multiple schema tables within a connection. This action does not override the standard sync frequency you defined in the Fivetran dashboard.",
        "operationId": "resync_tables",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "schema": {
                    "title": "Schema name",
                    "uniqueItems": true,
                    "type": "array",
                    "description": "Schema name",
                    "example": [
                      "table1",
                      "table2"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Re-sync has been triggered successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas/{schemaName}": {
      "patch": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Update a Connection Database Schema Config",
        "description": "Updates the database schema config for an existing connection within your Fivetran account (for a single schema within a connection with multiple schemas). \n\n> NOTE: The response contains all known schemas and tables. Also, it contains columns whose state has ever been set by the user. For more information, see also the [Connection Schema config](https://fivetran.com/docs/rest-api/tutorials/connection-schema-configuration-use-cases) tutorial. \n\nIn this API call, the NetSuite SuiteAnalytics, Salesforce and Salesforce Sandbox connectors always return the schema name as 'netsuite' and 'salesforce', respectively. \n\nFor more information about this API call for the Oracle Fusion Cloud Applications connectors, see our [Schema information](https://fivetran.com/docs/connectors/applications/oracle-fusion-cloud-applications#schemainformation) documentation.\n",
        "operationId": "modify_connection_database_schema_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "schemaName",
            "in": "path",
            "description": "The schema name as stored in the connection schema config. This value is case-sensitive; an incorrect case results in an HTTP 404 error.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "schemaName"
            },
            "example": "schemaName"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Database schema configuration has been modified"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas/{schemaName}/tables/{tableName}": {
      "patch": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Update a Connection Table Config",
        "description": "Updates the table config within your database schema for an existing connection within your Fivetran account.\n\nFor the NetSuite SuiteAnalytics and Salesforce and Salesforce Sandbox connectors, the 'schemas' map field will always have a single entry with the 'netsuite' or 'salesforce' key, respectively.\n",
        "operationId": "modify_connection_table_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "schemaName",
            "in": "path",
            "description": "The schema name as stored in the connection schema config. This value is case-sensitive; an incorrect case results in an HTTP 404 error.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "schemaName"
            },
            "example": "schemaName"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "The table name as stored in the connection schema config. This value is case-sensitive; an incorrect case results in an HTTP 404 error.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "tableName"
            },
            "example": "tableName"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Table configuration has been modified"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}": {
      "delete": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Drop a Blocked Column From the Destination",
        "description": "Marks a blocked column for deletion from your destination table. The column will be dropped during the next sync.\n\nFor the NetSuite SuiteAnalytics and Salesforce and Salesforce Sandbox connectors, the 'schemas' map field will always have a single entry with the 'netsuite' or 'salesforce' key, respectively.\n",
        "operationId": "delete_column_connection_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "schemaName",
            "in": "path",
            "description": "The schema name as stored in the connection schema config. This value is case-sensitive; an incorrect case results in an HTTP 404 error.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "schemaName"
            },
            "example": "schemaName"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "The table name as stored in the connection schema config. This value is case-sensitive; an incorrect case results in an HTTP 404 error.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "tableName"
            },
            "example": "tableName"
          },
          {
            "name": "columnName",
            "in": "path",
            "description": "The column name as stored in the connection schema config. This value is case-sensitive; an incorrect case results in an HTTP 404 error.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "columnName"
            },
            "example": "columnName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Column successfully marked for deletion"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not found error"
          },
          "409": {
            "description": "Column not in blocked state error"
          }
        }
      },
      "patch": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Update a Connection Column Config",
        "description": "Updates the column config within your table for an existing connection within your Fivetran account.\n\nFor the NetSuite SuiteAnalytics and Salesforce and Salesforce Sandbox connectors, the 'schemas' map field will always have a single entry with the 'netsuite' or 'salesforce' key, respectively.\n> NOTE: The response contains all known schemas and tables. Also, it contains columns whose state has ever been set by the user. For more information, see also the [Connection Schema config](https://fivetran.com/docs/rest-api/tutorials/connection-schema-configuration-use-cases) tutorial.\n",
        "operationId": "modify_connection_column_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "schemaName",
            "in": "path",
            "description": "The schema name as stored in the connection schema config. This value is case-sensitive; an incorrect case results in an HTTP 404 error.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "schemaName"
            },
            "example": "schemaName"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "The table name as stored in the connection schema config. This value is case-sensitive; an incorrect case results in an HTTP 404 error.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "tableName"
            },
            "example": "tableName"
          },
          {
            "name": "columnName",
            "in": "path",
            "description": "The column name as stored in the connection schema config. This value is case-sensitive; an incorrect case results in an HTTP 404 error.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "columnName"
            },
            "example": "columnName"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ColumnUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Column configuration has been modified"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/schemas/{schema}/tables/{table}/columns": {
      "get": {
        "tags": [
          "Connection Schema Management"
        ],
        "summary": "Retrieve Source Table Columns Config",
        "description": "Returns the real-time column list for one source table by querying the source. The response includes the current enabled and hashed flags, and the patchable fields.\n\nTo determine whether this endpoint is available for a table, first [retrieve the connection schema config](https://fivetran.com/docs/rest-api/api-reference/connection-schema/connection-schema-config) and check the table's public [`supports_columns_config` response field](https://fivetran.com/docs/rest-api/api-reference/connection-schema/connection-schema-config#supports_columns_config). Column-level schema metadata support is reported per table rather than as a static connector-wide list. If `supports_columns_config` is `false`, column metadata is not available for that table.\n\n> NOTE: This endpoint works only for an existing connection that is in a 'Connected' state.\n\n> NOTE: The connection schema config response includes every schema and table, but includes only columns that were explicitly overridden. Use this endpoint when you need the exhaustive real-time column list for a table that supports column-level configuration.\n",
        "operationId": "connection_column_config",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          },
          {
            "name": "schema",
            "in": "path",
            "description": "The database schema name within your destination",
            "required": true,
            "schema": {
              "type": "string",
              "example": "schema"
            },
            "example": "schema"
          },
          {
            "name": "table",
            "in": "path",
            "description": "The table name from the connection schema, using the original source system's naming conventions. This value is case-sensitive.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "table"
            },
            "example": "table"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Column configuration retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TableColumnsConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/state": {
      "get": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Retrieve Connection State",
        "description": "This endpoint returns the connection state for [Function](https://fivetran.com/docs/connectors/functions) and [Connector SDK](https://fivetran.com/docs/connector-sdk) connections. Sending a request for any other connection type returns `400 Bad Request`. To update the connection state, use [Update Connection State](https://fivetran.com/docs/rest-api/api-reference/connections/modify-connection-state).\n\nTo read the sync status for any connection type, use [Retrieve connection details](https://fivetran.com/docs/rest-api/api-reference/connections/connection-details) and inspect the `status` object in the response.\n",
        "operationId": "connection_state",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text",
                      "example": "Connection state retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConnectorStateResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The specified connection does not support state management. Only Function and Connector SDK connectors support this operation."
          },
          "401": {
            "description": "Unauthorized error"
          },
          "404": {
            "description": "Connection not found error."
          },
          "405": {
            "description": "Method not allowed error."
          },
          "406": {
            "description": "Not acceptable error"
          }
        }
      },
      "patch": {
        "tags": [
          "Connection Management"
        ],
        "summary": "Update a Connection State",
        "description": "Updates the connection state. This endpoint is only supported for [Function](https://fivetran.com/docs/connectors/functions) and [Connection SDK](https://fivetran.com/docs/connectors/connector-sdk) connectors. To update the state, you should pause your connection first.\n\nTo update the connection state, do the following:\n\n  1. Pause connection using [Update a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/modify-connection) endpoint (set 'paused' to 'true').\n  2. Update the state by using the [Update Connection State](https://fivetran.com/docs/rest-api/api-reference/connections/modify-connection-state) endpoint.\n  3. Unpause the connection by setting the 'paused' parameter to 'false' in the [Update a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/modify-connection) endpoint request.\n",
        "operationId": "modify_connection_state",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "The unique identifier of the connection. Retrieve it from the `id` field in the [List All Connections](https://fivetran.com/docs/rest-api/api-reference/connections/list-connections) response, or from the `id` field returned when you [Create a Connection](https://fivetran.com/docs/rest-api/api-reference/connections/create-connection).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4107c213907114059a5544ad8fa66c52"
            },
            "example": "4107c213907114059a5544ad8fa66c52"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunctionOrConnectorSdkState"
              },
              "examples": {
                "update_connection_state_request": {
                  "value": {
                    "state": {
                      "cursor": "2024-01-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code",
                      "example": "Success"
                    },
[...]
